/* .a{ */
    /* color: white; */
/* }
.navbar{
    
}
.container{
    color: white;
}
.navbar-toggler{
    color: white;
}
.col1{
    color: darkviolet;
    text-decoration: darkviolet;
    text-size-adjust: 30px;
}
.col2{
    color: rgb(122, 62, 161);
} */
.col{
    width: 100%;
    height: 100%;
    color: white;
    background-color: darkviolet;
}
.row2{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}